*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--blue {
		color: #39add1;
	}
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', 'Lucida Sans', Geneva, Verdana, sans-serif;
	line-height: 1.2;
}

.wrapper {
	padding: 0 1rem;
	max-width: 60rem;
	margin: 0 auto;
	/* Margin: 5rem auto; */
}

/* Banner  */
.banner {
	padding: 2rem;
	text-align: center;
	background-color: rgb(38, 44, 55);
	height: 6rem;
}

.banner-text {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2rem;
	color: whitesmoke;
}

/* Header  */
.header {
	text-align: center;
}
.signup-title {
	font-weight: 900;
	color: rgb(36, 43, 57);
	font-size: 2rem;
	letter-spacing: -.1px;
	margin: 2.5rem 0 1rem;
}

.signup-text {
	color: #999;
	margin-bottom: 3.6rem;
	padding: 0 1.8rem;
	font-size: 1.6rem;
}

.hr-thick {
	margin-bottom: .15rem;
	height: .36rem;
	background-color: rgb(36, 43, 57);
	color: rgb(36, 43, 57);
	border: none;
}
.hr-thin {
	height: .14rem;
	background-color: rgb(36, 43, 57);
	color: rgb(36, 43, 57);
	border: none;
}

/* Contact form  */

.form {
	/* background-color: #ff784f; */
	color: #888;
}

label {
	width: 8rem;
	font-size: 1.2rem;
	display: inline-block;
	/* background-color: #52bab3; */
}

.form-box {
	margin: 1rem 0;
}

.form-field {
	margin-top: 2rem;
	align-items: center;
}
p {
}

/* contact information  */
.form-title {
	font-weight: 900;
	font-size: 2rem;
	margin-bottom: 1.5rem;
	color: rgb(36, 43, 57);
}

/* label text color  */
/* [for] {
	color: #555;
} */
.input {
	margin-bottom: 1.5rem;
	margin-top: .1rem;
}

/* Input field color  */
input[type],
textarea {
	background-color: #eff0f1;
	border: none;
	border-radius: 3px;
}

.tinput {
	width: 100%;
	height: 3rem;
}

.required::placeholder {
	color: #999;
	text-align: end;
	font-style: italic;
	margin-right: 1rem;
}

::placeholder {
	color: #999;
	padding: 1rem;
	font-size: 1rem;
}

.zip {
	width: 10rem;
	height: 3rem;
}

/* Newsletter Section  */

.newsletter-text {
	color: #555;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* footer  */
.footer {
	text-align: center;
}

.footer-text {
	color: #999;
	font-size: 1.3rem;
}
.nw-list {
	margin-left: .8rem;
	margin-top: 1rem;
}

/* Dry Classes */
.corner {
	border-radius: .4rem;
}

/* button  */

.btn {
	cursor: pointer;
	font-size: 2rem;
	font-weight: 400;
	color: #fff;
	background-color: aqua;
	padding: 0 2rem;
	border: none;
	width: 100%;
	height: 6rem;
}

.btn:hover {
	opacity: .75;
}

.default {
	background-color: #52bab3;
}

.error {
	background-color: #ff784f;
}
